<h1>test project for ant design</h1>

<br /><br /><br />

<!-- steps  -->
<!-- <nz-steps [nzCurrent]="1">
  <nz-step nzTitle="Finished" nzDescription="This is a description."></nz-step>
  <nz-step
    nzTitle="In Progress"
    nzSubtitle="Left 00:00:08"
    nzDescription="This is a description."
  ></nz-step>
  <nz-step nzTitle="Waiting" nzDescription="This is a description."></nz-step>
  <nz-step nzTitle="Waiting" nzDescription="This is a description."></nz-step>
</nz-steps>

<br /><br /><br /> -->

<!-- some buttons  -->
<!-- <div style="float: left;">
    <button nz-button nzType="primary" nzLoading>
      <i nz-icon nzType="poweroff"></i>
      Loading
    </button>
    <button nz-button nzType="primary" nzSize="small" nzLoading>Loading</button>
    <br />
    <button
      nz-button
      nzType="primary"
      (click)="loadOne()"
      [nzLoading]="isLoadingOne"
    >
      Click me!
    </button>
    <button
      nz-button
      nzType="primary"
      (click)="loadTwo()"
      [nzLoading]="isLoadingTwo"
    >
      <i nz-icon nzType="poweroff"></i>
      Click me!
    </button>
    <br />
    <button nz-button nzLoading nzShape="circle"></button>
    <button nz-button nzLoading nzType="primary" nzShape="circle"></button>
</div>

<br><br><br> -->

<!-- date picker -->
<!-- <div style="float: right; margin-right: 12rem;">
    <nz-date-picker [(ngModel)]="date" (ngModelChange)="onChange($event)"></nz-date-picker>
</div> -->

<!-- auto complete  -->
<!-- <div class="example-input">
  <input
    placeholder='try to type "b"'
    nz-input
    [(ngModel)]="inputValue"
    (ngModelChange)="onChange($event)"
    [nzAutocomplete]="auto"
  />
  <nz-autocomplete [nzDataSource]="filteredOptions" #auto></nz-autocomplete>
</div> -->



